<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <ul><li>wellcome from clients page</li>
    <li>wellcome from clients page</li>
    <li>wellcome from clients page</li>
    <li>wellcome from clients page</li>
    <li>wellcome from clients page</li>
    <li>wellcome from clients page</li>
    <li>wellcome from clients page</li>
    <li>wellcome from clients page</li></ul>
</body>
</html>